LexEnaTrs.Web/wkhtml2pdf/XSD/DokumentEPU.xsd

<xsd:schema xmlns:curr="http://www.e-sad.gov.pl/epu" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.e-sad.gov.pl/epu" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="pl">
<xsd:include schemaLocation="TypyDanych.xsd"/>
    <xsd:element name="DokumentEPU">
        <xsd:annotation>
            <xsd:documentation>Dokument / Pismo / Wniosek w elektronicznym postępowaniu upominawczym </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="IDSprawy" type="xsd:unsignedLong"/>
                <xsd:element name="Sygnatura" type="curr:typNazwa120"/>
                <xsd:element name="IDDoreczenia" type="xsd:unsignedLong" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Identyfikator doręczenia odpisu decyzji. Składany dokument stanowi odpowiedź  na doręczenie o podanym IDDoreczenia. Wymagane dla rodzaju = 5 </xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="PESELPelnomocnika" type="curr:typPESEL" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>W przypadku skladania dokumentu z rezygnacją z pełnomocnictwa można podać PESEL nowego pełnomocnika. Pole nieobowiązkowe.</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="DataZlozenia" type="xsd:dateTime"/>
                <xsd:element name="Rodzaj" type="curr:typWybor3_6">
                  <xsd:annotation>
					<xsd:documentation>
						3 - pismo 
						4 - wniosek 
						5 - uzupełnienie adresu 
						6 - uzupełnienie braków 
						13 - rezygnacja z pełnomocnictwa 
						14 - zgłoszenie pełnomocnika do sprawy
					</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="Przedmiot" type="xsd:string" minOccurs="0"/>
                <xsd:element name="OsobaSkladajaca" type="curr:typSkladajacy" minOccurs="0"/>
                <xsd:element name="ListaPowodow" type="curr:typListaPowodow" minOccurs="0"/>
                <xsd:element name="ListaPozwanych" type="curr:typListaPozwanych" minOccurs="0"/>
                <xsd:element name="Tresc" type="xsd:string" nillable="true" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
